<% include header.ejs %>
	
	<header>
		<h1 class="logo-profile"><a href="/" title="Back to Home"><img src="logo2.png" /></a></h1>

		<nav>
			<ul>
				<li><a href="/signout" title="Log Out">Log Out</a></li>
			</ul>
		</nav>
	</header>

	<h2 class="page-title">Edit Book</h2>

	<section class="book-create-edit">
		<form action="/update" method="POST">

			<input type="text" name="title" placeholder="Book Title" value="<%= title %>" required />
			<input type="text" name="genre" placeholder="Book Genre" value="<%= genre %>" required />

			<textarea name="bookEdit" id="bookEdit" rows="100" cols="80">
			<%= content %>
			</textarea>
				
			<input type="submit" name="update-book" value="Update" />
		</form>
	</section> <!-- Closes "book-create" section -->

	<script>
		CKEDITOR.replace('bookEdit');
	</script>

<% include footer.ejs %>