<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Go Write!</title>
		<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

		<!-- <link href='http://fonts.googleapis.com/css?family=Ubuntu|Lato|Fondamento|Droid+Sans|Volkhov:400,400italic' rel='stylesheet' type='text/css'> -->
<!--		<link rel="stylesheet" href="/css/main.css" type="text/css">-->
	</head>
	<body>