<% include header.ejs %>

    <h1>Go Write!</h1>

	<form action="/signup" method="POST">
        <input type="email" name="email-signup" placeholder="email@email.com" />
        <input type="text" name="username-signup" placeholder="Username" />
        <input type="password" name="password-signup" placeholder="Password" />
        
        <input type="submit" name="submit-signup" value="Sign Up!" />
	</form>

    <form action="/login" method="GET">
        <input type="email" name="email-login" placeholder="email@email.com" />
        <input type="password" name="password-login" placeholder="Password" />
        
        <input type="submit" name="submit-login" value="Log In!" />
	</form>

<% include footer.ejs %>