<% include header.ejs %>

	<h1 class="logo-landing"><a href="/" title="Back to Home"><img src="logo.png" /></a></h1>

	<div class="landing">
		<form id="login-form" action="/login" method="POST">
			<input type="email" name="email" placeholder="email@email.com" autofocus required />
			<input type="password" name="password" placeholder="Password" required />
			
			<input type="submit" name="login" value="Log In!" />
		</form>
		<p id="landing-text">Not a member? <a href="/register" title="Link to Signup Page">Create account here</a></p>
	</div> <!-- Closes "landing" div -->

<% include footer.ejs %>