<% include header.ejs %>

	<h1 class="logo-landing"><a href="/" title="Back to Home"><img src="logo.png" /></a></h1>
	
	<div class="landing">
		<form id="signup-form" action="/signup" method="POST">
			<input type="email" name="email" placeholder="email@email.com" autofocus required />
			<input type="text" name="username" placeholder="Username" required />
			<input type="password" name="password" placeholder="Password" required />
			
			<input type="submit" name="signup" value="Sign Up!" />
		</form>
	</div> <!-- Closes "landing" div -->

<% include footer.ejs %>